.errorWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 5rem 1rem;
  }
  
  .errorContent {
    max-width: 37.5rem;
    padding: 0 1.5rem 2.5rem 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .errorCode {
    font-size: 4.8rem;
    font-weight: bold;
    color: var(--accent-color);
    padding-top: 0;
    margin-top: 0;
    text-align: center;
  }
  
  .errorMessage {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    color: #333;
  }
  
  .errorText {
    font-size: 1.125rem;
    margin-bottom: 1.875rem;
    color: #666;
  }
  
  .errorActions {
    display: flex;
    justify-content: space-between;
  }
  
  .backButton {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    padding: 0.625rem 1.25rem;
    border-radius: 0.313rem;
    cursor: pointer;
  }
  
  .backButton:hover {
    background-color: #3e8e41;
  }
  
  .contactButton {
    background-color: #333;
    color: #fff;
    border: 0.0625rem solid #333;
    padding: 0.625rem 1.25rem;
    border-radius: 0.313rem;
    cursor: pointer;
  }
  
  .contactButton:hover {
    background-color: #656464;
  }