/*for FAB Whatsapp*/
.whatsappButton {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 9999;
  }
  
  .whatsappLink {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25d366;
    color: white;
    border-radius: 3.125rem;
    padding: 0.625rem;
    width: 3.125rem;
    height: 3.125rem;
    overflow: hidden;
    transition: width 0.5s;
    z-index: 9999;
  }
  
  .whatsappText {
    padding-left: 0.625rem;
    z-index: 9999;
  }