/* HealthCheckupSection.module.css */
.healthCheckupSection {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #002D3D;
    color: #fff;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 2rem;
    color: var(--primary-color);
  }

  .separator {
    width: 5rem;
    height: 0.25rem;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1rem auto 2rem auto;
  }
  
  .packagesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    max-width: 85%;
    margin: 2rem auto;
  }
  
  .packageCard {
    background-color: #023B4E;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .name {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: underline;
  }
  
  .details {
    font-size: 1rem;
    text-align: left;
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;
  }
  
  .details li {
    margin-bottom: 0.5rem;
  }
  
  .price {
    font-size: 1.3rem;
    font-weight: 500;
    background-color: #D32F2F;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    align-self: center;
  }
  
  .bookButton {
    font-size: 1.3rem;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--accent-color);
    border-radius: 0.3rem;
    align-self: center;
    cursor: pointer;
  }

  .bookButton:hover {
    background-color: var(--accent-color);
    color: #fff;
    transform: scale(1.15);
  }

  @media screen and (max-width: 768px) {
    .packagesGrid {
      grid-template-columns: repeat(1, 1fr);
      max-width: 100%;
    }
    .packageCard {
      padding: 1.5rem;
    }

    .price, .bookButton {
        font-size: 1.08rem;
    }
  }