  .content {
    max-width: 100rem;
  }

  @media screen and (max-width: 768px) {
    .content {
      max-width: 100%;
    }
  }

  .title {
    font-size: 2.5rem;
    color: var(--tertiary-color);
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .separator {
    width: 5rem;
    height: 0.25rem;
    background-color: rgba(28, 162, 192,0.2);
    margin-bottom: 1.5rem;
  }
  
  .description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    margin-right: 3.5rem;
  }
  
 
  
  